<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>Comments</h1>
        <ul>
            <li v-for="(comment, key) in comments">
                <!-- <div v-for="score in scores"> -->
                    <button v-on:click="Like(key)"> + </button>
                    <button v-on:click="Dislike(key)"> - </button>
                    Komentar: {{comment.komentar}} Score: {{comment.score}}
                <!-- </div> -->
            </li>
        </ul>
            <textarea type="text" v-model="komentar"> </textarea>
            <button v-on:click="postComment"> Post</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"> </script>
    <script>
    var vo = new Vue({
    el : '#app',
    data : {
        comments: [],
        komentar:"",
    },
    methods : {
        postComment: function () {
            return this.comments.push({"komentar":this.komentar, "score":0});
        },
        Like: function (key) {
            this.comments[key].score = this.comments[key].score + 1;
        },
        Dislike: function (key) {
            this.comments[key].score = this.comments[key].score - 1;
        }
    },
    watch: {
        komentar: function (val) {
            this.komentar = val
        }
    }
}) 
    </script>
</body>
</html>